extends ../layout

block content   
    a.btn.btn-success(href='/usuarios' role='button') Volver
    a.btn.btn-info(href='/' role='button') Inicio
    
    br
    br
    br

    h1 Modificar Usuario

    br
    br

    form(action=`/usuarios/${usuario.id}/update` method='post')
      .form-group
        label(for='nombre') Nombre:
        input#nombre.form-control(type='text' name='nombre' value= usuario.nombre lass=errors.nombre ? 'is-invalid' : '' )
        if errors.nombre
          small#nombreHelp.text-danger
            = errors.nombre.message
    
      br
      br
      input.btn.btn-primary(type='submit' value='OK')